*{
    margin: 0;
    padding: 0;
}

.todo__main h2{
    text-align: center;
    margin: 40px 0;
}

.todo__input{
    display: flex;
    margin-left: 10px;
    margin-bottom: 40px;
    justify-content: space-between;
}
#input{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding: 10px 20px;
   
}
textarea {
    resize: none;
}
#addBtn{
    height: 60px;
    font-weight: bold;
}
#addBtn:hover{
    color: #f1f1f1;
    background-color: #000;

}


#root{
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
}
#root li{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
#root li::after{
    display: none;
}
#root li a {
    text-decoration: none;
    padding: 6px 6px;
    color: #000;
}
.todo__name{
    background-color: #f1f1f1;
    padding: 6px 10px ;
    overflow: hidden;
}
.fa-trash{
    color: red;
   
}
.fa-pen{
    color: green;
}
.todo_button{
    text-align: center;
}
ul{
    padding-left: 1rem !important;
}
.hover-animate {
    transition: all 0.2s ease-in-out;
}
.fa-pen {
    opacity: 0.6;
}
.fa-trash{
    opacity: 0.6;
}

.fa-pen:hover{
    opacity: 1;
    transition: 0.5s;
}
.fa-trash:hover{
    opacity: 1;
    transition: 0.3s; 
}

@media only screen and (width < 500px) {
    #input {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding: 8px 10px;
    }
    #addBtn {
        height: 40px;     
    }
    ul{
        padding-left: 0 !important;
    }
    .todo__input{
        margin-left: 0 !important;
    }
    
}
.task-item {
    display: inline;
}

.task-item::after {
    content: "";
  }